gensim==4.3.3
langdetect==1.0.8
nltk==3.9.1
pandas==2.2.3
Pillow==11.1.0
pyspellchecker==0.8.2
sentencepiece==0.1.97
spacy==3.8.4
st_annotated_text==4.0.2
streamlit==1.42.2
streamlit_extras==0.5.5
transformers==4.49.0
tensorflow
torch==2.2.2
torchvision
torchaudio
tf-keras==2.18.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

